@model CityPoint_RoomHire.Models.EquipmentBookings

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EquipmentBookings</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VenueBooking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VenueBooking.VenueBookingsId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Equipment.EquipmentHireId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EquipmentBookingsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
