@model IEnumerable<CityPoint_RoomHire.Models.VenueBookings>
@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeSpanBook)
            </th>
            <th>
                Venue Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeSpanBook)
                </td>
                <td>
                    @item.Venue.VenueName
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.VenueBookingsId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.VenueBookingsId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.VenueBookingsId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>