@model IEnumerable<CityPointRH.Models.EquipmentBookings>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VenueBooking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VenueBooking.VenueBookingsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipment.EquipmentHireId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EquipmentBookingsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EquipmentBookingsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EquipmentBookingsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
